# 复制为 .env 并填写真实值
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,your-domain.com

DB_ENGINE=django.db.backends.mysql
DB_NAME=maas_db
DB_USER=root
DB_PASSWORD=
DB_HOST=maas-db
DB_PORT=3306


CORS_ALLOWED_ORIGINS=http://localhost:5713,https://your-domain.com

JWT_ACCESS_TOKEN_LIFETIME_MINUTES=120
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
